body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
}
html,
body {
    width: 100%;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
    letter-spacing: 2px;
}
p{
    font-size: 1.2em;
    font-weight: 100;
}
a{
    color: #eee;
}
.alert.alert-danger>p>a{
    color: #e56c1b;
}
#Acerca,
#Servicios {
   padding-top: 100px;
  padding-bottom: 100px;
}
.marjen-up{
    margin-top: 100px;
}
.marjen-bo{
    margin-bottom: 100px;
}
/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: transparent;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #fff;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: large;
    font-weight: 500;
}
.custom-navbar .nav li a:hover {
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
    outline: none;
}
.custom-navbar .nav li.active > a {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #fff;
    border-color: transparent;
}
.logo{
/*    height: 50px;*/
    width: 100px;
}
.logo-l{
/*    height: 100px;*/
    width: 200px;
}
@media(min-width:768px) {
    .custom-navbar {
        background: rgba(242,113,28,.87);
        padding: 10px;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        padding: 8px;
        background: rgba(242,113,28,.87);
    }
}
@media(max-width:768px){
    .custom-navbar {
        background: rgba(242,113,28,.87);
        padding: 10px;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        padding: 8px;
        background: rgba(242,113,28,.87);
    }
    .logo-l{
/*    height: 100px;*/
    width: 100px;
}
}

/* ==========================================================================
home section
========================================================================== */
#inicio,#Contacto{
    background-image: url(../images/O6GE530.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#iniciofondo,#Contactofondo{
    background-color: rgba(241, 114, 30, 0.5);
}
#home {
    color: #ffffff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#Contacto{
    color: #ffffff;
    align-items: center;
    text-align: center;
}
#home h1 {
    font-size: 40px;
}
#home h3 {
    font-size: 14px;
}
#home hr {
    width: 240px;
}
#home .btn {
    background: transparent;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px 42px;
    margin-top: 40px;
    margin-right: 16px;
    transition: all 0.4s ease-in-out;
}
#home .btn:hover {
    background: #2185D0;
    border-color: transparent;
}
#home .btn-danger {
    background: #2185D0;
    border-color: transparent;
}
#home .btn-danger:hover {
    border: 4px solid #2185D0;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
}
@media (max-width: 440px) {
  #home {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
}
/* ==========================================================================
Servicios section
========================================================================== */
.Servicios-icon{
    color: #2185D0;
}
/* ==========================================================================
Contacto section
========================================================================== */
.form-control{
    background-color: transparent;
    border: 1px solid #2185d0;
    color: #ffffff;
    border-radius: 0px;
}
.input-group{
    padding-top: 15px;
}
.input-group-addon{
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
    padding-left: 12px;
}
#Contacto .btn {
    background: transparent;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    margin-right: 16px;
    margin-left: 16px;
    transition: all 0.4s ease-in-out;
}
#Contacto .btn:hover {
    background: #2185D0;
    border-color: transparent;
}

#Contacto .btn-danger {
    background: #2185D0;
    border-color: transparent;
}
#Contacto .btn-danger:hover {
    border: 1px solid #2185D0;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
}
/* AJAX Gif y mensajes de exito o fracaso */
.msg{
    color: white;
    font-weight: bold;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}
.btn-enviado {
    background: transparent;
    border-color: transparent;
}
.btn-enviado:hover {
    color: #ffffff;
}
.msg_ok,.msg_ok:hover,.msg_ok:active{
    background: #589D05;
    right: 13px;
    padding: 15px;
}
.msg_error,.msg_error:hover,.msg_error:active{
    background: red;
    right: 13px;
}
input.nombre.form-control.has-error {
    border: 1px solid #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #a94442;
}

@media(max-width:768px){
.msg_ok,.msg_ok:hover,.msg_ok:active{
    right: 153px;
}
.msg_error,.msg_error:hover,.msg_error:active{
    right: 153px;
}
}
/* ==========================================================================
footer section
========================================================================== */
footer.footer {
    background-color: #2185d0;
    color: #eee;
}
.socials{
    padding-top: 50px;
}
ul.list-inline.socials>li>a {
    color: #eee;
    font-size: 2em;
}
ul.list-inline.socials>li>a:hover {
    color: #FF9800;
    font-size: 2.3em;
}
@media(max-width:768px){
    footer.footer, .socials {
        text-align: center;
        padding-top: 0px
    }
}
/* ==========================================================================
Barra del navegador
========================================================================== */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
    background-color: #2185D0;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background-color: #232323;
}